@import url('./components/CardProps/CardProps.css');

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main{
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--card-space);
  padding: var(--card-space);
}